<h1>Info#index</h1>

<%= require 'yo4r' %>
<%= client = Yo::Client.new(api_token: '53b3e34b-1d7c-4784-a54d-4d7814a86ac1') %>
<%= client.yo(username: 'HISAO130') %>

<p>Find me in app/views/info/index.html.erb</p>
